body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;

}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  display: flex;
  justify-content: center;
  font-size: small;
}

#featured-property p{
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#details div{
  float: left;
  justify-content: center;
  background-color: red;
  width: 25%;
}
